{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="content">
  <h1>{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p class="steer">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      {% for l in form %}
        <div class="unit">
          <div class="label">{{ l.label_tag }}</div>
          <div class="input">{{ l }}</div>
          {% if l.errors %}
            <div class="errors">
              <a class='support' tabindex="1"><em>?</em>
                <span class='tip'>
                  {{ l.errors }}
                </span>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="slug"></div>
      <button type="submit">{% trans 'Reset My Password' %}</button>
  </form>

  <p class="steer">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
    
{% endblock %}
