{% extends 'base.html' %}
{% load static %}

{% block static %}
{% if user.style.style %}
  <link rel="stylesheet" href="{% static 'css/main_sun.css' %}">
{% else %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endif %}
{% endblock %}


{% block content %}
<form method="post">
  {% csrf_token %}
  {% for element in form %}
    <p class="label">{{ element.label_tag }}</p>
    <p class="data">{{ element }}</p>
    {% if element.label == 'Дата задания' %}
    <a class="related-widget-wrapper-link add-related" id="add_id_date" href="{% url 'created' %}" title="Добавить ещё один объект типа " Дата""=""><img src="/static/admin/img/icon-addlink.svg" alt="Добавить"></a>
    {% endif %}
    <br>
  {% endfor %}
  <input type="submit" value="Сохранить" class="btn-sd">
</form>
{% include 'style.html' %}
{% endblock %}  

{% block script %}
<script>
  $('#add_id_date').on('click', (e) => {
    e.preventDefault()
    $.ajax({
      url: "{% url 'created' %}",
      method: 'GET',
      success: function(data) {
        btn_close = '<button type="submit" class="close">Close</button>'
        $('.hero').append( $(data).find('.created').html())
        $('.form-date').append(btn_close)
        $(document).click((e) => {
          if ($(e.target).is('.close') ||
              !$('.form-date').is(e.target) &&
              $('.form-date').has(e.target).length === 0)
            $('.modal').remove()
        })
        $(document).keyup((e) => {
          if (e.key === 'Escape')
            $('.modal').remove()
          
        })
      }
    })
  })

  function ajaxDatePOST() {
    $('.btn-date').click((e) => {
      e.preventDefault()
      $('input[name=late_path]').val("{{ request.path }}")
      $.ajax({
        url: "{% url 'created' %}",
        method: 'POST',
        data: $('#date').serialize(),
        success: function(data) {
          if ( $(data).find('#id_date').html() ) {
            $('#id_date').empty()
            $('#id_date').append( $(data).find('#id_date').html() )
          } else {
            alert('Не правильный формат даты!')
          }
          $('.modal').remove()
        }
      })
      return false
    })
  }

  $(document).ready(function() {
    ajaxDatePOST()
  })

  $(document).ajaxStop(function() {
    ajaxDatePOST()
  })
</script>
{% endblock %}