{% extends 'base.html' %}
{% load static %}

{% block static %}
{% if user.style.style %}
  <link rel="stylesheet" href="{% static 'css/main_sun.css' %}">
{% else %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endif %}
{% endblock %} 

{% block content %}
    <div class="delete-task">
      <h1>Удалить?</h1>
      <form action="" method="post">
        {% csrf_token %}
        <p>Удалить {{ date }}</p>
        <input type="submit" value="Удалить" autofocus class="btn-sd"/>
      </form>
    </div>
{% include 'style.html' %}
{% endblock %}