{% extends 'base.html' %}
{% load static %}

{% block static %}
{% if user.style.style %}
  <link rel="stylesheet" href="{% static 'css/main_sun.css' %}">
{% else %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endif %}
{% endblock %}

{% block content %}
<section class="example">
  {% if user.is_authenticated %}
  <div class="tasks">
    <div class="block-task">
      <h1 class="date">{{ tasks.first.date }}</h1>
      {% for task in tasks %}
          <div class="task">
            {% if user.is_staff %}
            <div class="edittool">
              <a href="{% url 'update' task.pk %}"><i class="fa fa-scissors" aria-hidden="true"></i></a>
              <a href="{% url 'delete' task.pk %}" value='{{ task }}' class="btn-delete-task"><i class="fa fa-eraser" aria-hidden="true"></i></a>
            </div> 
            {% endif %} 
            <span class="nom">Задание {{ task.num_task }}.<span>
            <p class="text-task">
              {{ task.text_task|linebreaksbr }}
            </p>
            <div class="code">
              <pre>{{ task.answer_task }}</pre>
            </div>
          </div>
      {% empty %}
        <img src="{% static 'images/ustal.png' %}" alt="" class='no-homework'>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <h1 class="warning">Чтобы увидеть решения войдите или зарегистрируйтесь</h1>
  <div class="rigging">
    <a href="{% url 'account_login' %}" class="log">Войти</a>
  <a href="{% url 'account_signup' %}" class="regin">Зарегистрироваться</a>
  </div> 
{% endif %}
</section>
<section class="date-example">
    <div class="dates">
      {% for date in dates %}
        <div>
          {% if request.GET.id == date.id|stringformat:"i" %}
            <span class="current date-btn">{{ date }}</span>
          {% else %}
            <a href="?id={{ date.pk }}&page={{ dates.number  }}" class="date-btn">{{ date }}</a>
          {% endif %}
          {% if user.is_staff %}
            <a href="{% url 'deleted' date.pk %}" class="btn-delete-date" value='{{ date }}'><i class="fa fa-eraser" aria-hidden="true"></i></a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
    <div class="pagination" id="pagination">
      {% if dates.has_previous %}
          <a href="?id={{ request.GET.id }}&page={{ dates.previous_page_number }}" class="array" id="page-link"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i></a>
      {% endif %}
  
      {% for num in dates.paginator.page_range %}
          {% if num == dates.number %}
              <span class="choice"><b>{{ num }}</b></span>
          {% else %}
              <a href="?id={{ request.GET.id }}&page={{ num }}" id="page-link"> {{ num }}</a>
          {% endif %} 
      {% endfor %}
  
      {% if dates.has_next %}
          <a href="?id={{ request.GET.id }}&page={{ dates.next_page_number }}" class="array" id="page-link"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i></a>
      {% endif %}
  
  </div>
</section>

{% include 'style.html' %}
{% endblock %}

{% block script %}
<script>
  function ajaxPagination() {
    $('#pagination a#page-link').each((index, el) => {
      $(el).click((e) => {
        e.preventDefault()
        let page_url = $(el).attr('href')
        console.log(page_url)

        $.ajax({
          url: page_url,
          type: 'GET',
          success: (data) => {
            $('.date-example').empty()
            $('.date-example').append( $(data).find('.date-example').html() )
          }
        })
      })
    })
  }

  function ajaxTasks() {
    $('.dates a.date-btn').each((index, el) => {
      $(el).click((e) => {
        e.preventDefault()
        let page_url = $(el).attr('href')
        console.log(page_url)

        $.ajax({
          url: page_url,
          type: 'GET',
          success: (data) => {
            $('.date-example').empty()
            $('.date-example').append( $(data).find('.date-example').html() )

            $('.example').empty()
            $('.example').append( $(data).find('.example').html() )
          }
        })
      })
    })
  }

  function deleteDatePOST() {
    $('.btn-delete-date').each((index, el) => {
      $(el).click((e) => {
        let page_url = $(el).attr('href')
        e.preventDefault()

        let del = confirm(`Delete ${$(el).attr('value')}?`)
        if (del) {
          $.ajax({
              url: page_url,
              method: 'POST',
              data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
              success: function(data) {
                $('main').empty()
                $('main').append( $(data).filter('main').html() )
              }
          })
        } else {
            alert('Bruh')
        }   
      })       
    })
  }

  function deleteTaskPOST() {
    $('.btn-delete-task').each((index, el) => {
      $(el).click((e) => {
        let page_url = $(el).attr('href')
        e.preventDefault()

        let del = confirm(`Delete ${$(el).attr('value')}?`)
        if (del) {
          $.ajax({
              url: page_url,
              method: 'POST',
              data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
              success: function(data) {
                $('main').empty()
                $('main').append( $(data).filter('main').html() )
              }
          })
        } else {
            alert('Bruh')
        }   
      })       
    })
  }

  $(document).ready(function() {
    ajaxPagination()
    ajaxTasks()
    deleteDatePOST()
    deleteTaskPOST()
  })

  $(document).ajaxStop(function() {
    ajaxPagination()
    ajaxTasks()
    deleteDatePOST()
    deleteTaskPOST()
  })
</script>


{% endblock %}