{% extends 'base.html' %}
{% load static %}

{% block static %}
{% if user.style.style %}
    <link rel="stylesheet" href="{% static 'css/main_sun.css' %}">
{% else %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endif %}
{% endblock %}

{% block content %}
<div class="info-page">
    <h1>Сайт создан в учебных целях.</h1>
    <p>Данный сайт не даёт 100% вероятности в правильности ответов!!!</p>
    <!-- <img src="{% static 'images/warning.png' %}" alt="" class='warning'> -->
</div>
{% include 'style.html' %}
{% endblock %}